body {
    font-family: Arial, Helvetica, sans-serif;
    background: #DDEAE1;
    margin: 5rem auto;
}

.title {
    font-weight: lighter;
}

.main-img {
    box-shadow: 0 2px 5px lightgray;
    width: 340px;
}

article {
    margin: 0 auto;
    width: 900px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    background: white;
}
.nav-text {
    color: #565959;
}
.link-text {
    color: #007185;
}

.margin-left {
    margin-left: 30px;
}
